/* CSS reset */
*, *:after, *:before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
button{
  cursor: pointer;
  outline: none;
}
input, textarea, select, option{
  outline: none;
}
a{
  text-decoration: none;
  color: unset;
}
li{
  list-style: none;
}
/* ------------ */
body{
  font-family: sans-serif;
  background-image: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?q=80&w=1769&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
:root{
  --blue: #62b2f4;
  --white: #edf2c0;
  --tomato: #fca78d;
  --yellow: #fcc97e;
  --green: #a1d3a3;
}
.main-container{
  display: grid;
  place-items: center;
  min-height: 100vh;
}