nav {
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}